@model Birder2.ViewModels.NetworkIndexViewModel
@using Newtonsoft.Json

<h2>Index</h2>

<p>
    <a asp-action="Create">Find Birders to follow</a>
</p>

<div class="alert-success" role="alert">
    <span data-bind="text: StatusMessage" />
</div>

<h3>You are following <span data-bind="text: FollowingCount"></span> <i>Birders</i>:</h3>

<!-- ko foreach: FollowingList -->
<section>
    <div class="media">
        <div class="media-left media-middle">
            <img data-bind="attr:{src: ProfileImage}" class="media-object" />
            @*<img src="~/images/man.png" class="media-object">*@
            @*<img src="@Model.Bird.ThumbnailUrl" class="media-object">  ~/images/man.png *@
        </div>
        <div class="media-body">
            <h3 class="media-heading"><span data-bind="text: UserName" /></h3>
            <div>
                <div class="form-group"><button class="btn btn-danger btn-xs" data-bind="click: $parent.unFollow">Unfollow</button></div>
            </div>
        </div>
    </div>
</section>
<!-- /ko -->

<br />

<h3><span data-bind="text: FollowersCount"></span> <i>Birders</i> follow you:</h3>

<!-- ko foreach: FollowersList -->
<section>
    <div class="media">
        <div class="media-left media-middle">
            <img data-bind="attr:{src: ProfileImage}" class="media-object" />
            @*<img src="~/images/man.png" class="media-object">*@
            @*<img src="@Model.Bird.ThumbnailUrl" class="media-object">*@
        </div>
        <div class="media-body">
            <h3 class="media-heading"><span data-bind="text: UserName" /></h3>
        </div>
    </div>
</section>
<!-- /ko -->


@{
    string data = JsonConvert.SerializeObject(Model,
                        new JsonSerializerSettings()
                        {
                            ReferenceLoopHandling = ReferenceLoopHandling.Ignore
                        });

}
@section scripts{
    <script src="~/js/knockout-3.4.2.js"></script>
    <script src="~/js/knockout.mapping-latest.js"></script>
    <script src="~/js/jqueryvalidate.js"></script>
    <script src="~/js/jquery-validate.bootstrap-tooltip.js"></script>
    <script src="~/js/manageNetworkViewModel.js"></script>

    <script type="text/javascript">
        var manageNetworkViewModel = new ManageNetworkViewModel(@Html.Raw(data));
        ko.applyBindings(manageNetworkViewModel);
    </script>
}