@model ApplicationUser
    
<section>
    <div class="media">
        <div class="media-left media-middle">
            <img src="~/images/man.png" class="media-object">
            @*<img src="@Model.Bird.ThumbnailUrl" class="media-object">*@
        </div>
        <div class="media-body">
            <h3 class="media-heading">@Model.UserName</h3>
            <a asp-action="Follow" asp-route-id="@Model.Id">Follow</a>
        </div>
    </div>
</section>