@model Network
    @*<div><a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market"></a><a href="https://www.flaticon.com/" title="Flaticon"></a><a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank"></a></div>*@
    
<section>
        <div class="media">
            <div class="media-left media-middle">
                <img src="~/images/man.png" class="media-object">
                @*<img src="@Model.Bird.ThumbnailUrl" class="media-object">*@
            </div>
            <div class="media-body">
                <h3 class="media-heading">@Model.Follower.UserName </h3>
            </div>
        </div>
    </section>