@model Birder2.Controllers.NetworksController.FollowUserViewModel
@using Newtonsoft.Json
@{
    string data = JsonConvert.SerializeObject(Model,
                        new JsonSerializerSettings()
                        {
                            ReferenceLoopHandling = ReferenceLoopHandling.Ignore
                        });

}
@section scripts{
    <script src="~/js/knockout-3.4.2.js"></script>
    <script src="~/js/knockout.mapping-latest.js"></script>
    <script src="~/js/jqueryvalidate.js"></script>
    <script src="~/js/jquery-validate.bootstrap-tooltip.js"></script>
    <script src="~/js/followUserViewModel.js"></script>

    <script type="text/javascript">
        var followUserViewModel = new FollowUserViewModel(@Html.Raw(data));
        ko.applyBindings(followUserViewModel);
    </script>
}


<!-- ko foreach: SearchResults -->
<section>
    <div class="media">
        <div class="media-left media-middle">
            <img src="~/images/man.png" class="media-object">
            @*<img src="@Model.Bird.ThumbnailUrl" class="media-object">*@
        </div>
        <div class="media-body">
            <h3 class="media-heading"><span data-bind="text: UserName" /></h3>
            <div class="form-group"><button class="btn btn-danger btn-xs" data-bind="click: $parent.follow">Follow</button></div>
                                                                                   @*attr: {'Id': 'Quantity_' + $index()}, value: Quantity"*@
        </div>
    </div>
</section>
<!-- /ko -->


@*<h4>Network</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ApplicationUserId" class="control-label"></label>
                    <select asp-for="ApplicationUserId" class ="form-control" asp-items="ViewBag.ApplicationUserId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="FollowerId" class="control-label"></label>
                    <select asp-for="FollowerId" class ="form-control" asp-items="ViewBag.FollowerId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
