@model Birder2.ViewModels.FollowUserViewModel
@using Newtonsoft.Json
@{
    string data = JsonConvert.SerializeObject(Model,
                        new JsonSerializerSettings()
                        {
                            ReferenceLoopHandling = ReferenceLoopHandling.Ignore
                        });
}

<form asp-action="Create" asp-route-searchCriterion="SearchString" method="get">
    <div class="form-group">
        <label asp-for="SearchCriterion" class="control-label"></label>
        <input asp-for="SearchCriterion" class="form-control" />
        <span asp-validation-for="SearchCriterion" name="SearchString" class="text-danger"></span>
        <div class="form-group pull-right">
            <input type="submit" value="Find Birders" class="btn btn-default" />
        </div>
    </div>
</form>

<br />
<div class="alert-success" role="alert">
    <span data-bind="text: StatusMessage" />
</div>

<br />

<!-- ko foreach: SearchResults -->
<section>
    <div class="media">
        <div class="media-left media-middle">
            <img src="~/images/man.png" class="media-object">
            @*<img src="@Model.Bird.ThumbnailUrl" class="media-object">*@
        </div>
        <div class="media-body">
            <h3 class="media-heading"><span data-bind="text: UserName" /></h3>
            <div class="form-group"><button class="btn btn-danger btn-xs" data-bind="click: $parent.follow">Follow</button></div>
            @*attr: {'Id': 'Quantity_' + $index()}, value: Quantity"*@
        </div>
    </div>
</section>
<!-- /ko -->


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts{
    <script src="~/js/knockout-3.4.2.js"></script>
    <script src="~/js/knockout.mapping-latest.js"></script>
    <script src="~/js/jqueryvalidate.js"></script>
    <script src="~/js/jquery-validate.bootstrap-tooltip.js"></script>
    <script src="~/js/followUserViewModel.js"></script>

    <script type="text/javascript">
        var followUserViewModel = new FollowUserViewModel(@Html.Raw(data));
        ko.applyBindings(followUserViewModel);
    </script>
}
@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
