@model ApplicationUser

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<p>You are following @Model.Following.Count() <i>Birders</i>:</p>

@foreach (var following in Model.Following)
{
    <div class="container">
        @Html.Partial("_Following", following)
    </div>
}

<hr />

<p>@Model.Following.Count() <i>Birders</i> follow you:</p>

@foreach (var follower in Model.Following)
{
    <div class="container">
        @Html.Partial("_Follower", follower)
    </div>
}
