@model Birder2.ViewModels.TopObservationsComponentViewModel

<div class="class--aside-block-header">
    <h4><b>Your Most Observered Species</b></h4>
</div>

<div class="class--aside-block-body-Top5">
    <div>
        <ul class="nav nav-pills nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#home">All time</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#menu1">Last 30 days</a>
            </li>
        </ul>
    </div>

    <!-- Tab panes -->

    <div class="tab-content">
        <div id="home" class="tab-pane active">
            <div class="list-groups">
                <ul class="list-group">
                    @foreach (var observation in Model.TopObservations)
                    {
                        <li class="list-group-item">
                            <span class="badge">@observation.Count </span>
                            @observation.Vernacular
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <div class="list-groups">
                <ul class="list-group">
                    @foreach (var observation in Model.TopMonthlyObservations)
                    {
                        <li class="list-group-item">
                            <span class="badge">@observation.Count </span>
                            @observation.Vernacular
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

