@using FlickrNet
@model PhotoCollection

<div>Page Number: @Model.Page</div>

@foreach (var photo in Model)
{
    <div>@photo.PhotoId</div>
    <div>@photo.Title</div>
    <div>
        <img src="@photo.LargeSquareThumbnailUrl" alt="Many cups!" />
    </div>


}

