@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_LayoutNoSidebar.cshtml";
}

<div>
    <section>
        <h2>Birder</h2>
        <p>Add form for sending feedback and suggestion to the developer...</p>
    </section>
</div>
