@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_LayoutNoSidebar.cshtml";
}

<div>
    <img src="https://birderstorage.blob.core.windows.net/test/Dipper.jpg" style="width:75%" />
</div>
