<div>
    <h2>To do:</h2>

    <hr />
    <h4>Keep a record of your bird sightings with Birder:</h4>
    <ul>
        <li>Organise your observations into categories with tags <i>(coming up soon)</i></li>
        <li>Upload photographs of the birds you spotted <i>(coming up soon)</i></li>
        <li>idea: comment on observations, like on other social media platforms <i>(coming up soon)</i></li>
    </ul>

    <hr />
    <h4>Build a network of like-minded bird lovers:</h4>
    <p>- Share your obersvations with your netowrk</p>
    <p>- Keep track of your network's oberservations</p>

    <hr />
    <h4>Images:</h4>
    <p>- Retrieve and display an image from database</p>

    <hr />
    <h4>Extend the user profile:</h4>
    <p>- My Profile page</p>
    <p>- User profile picture</p>

</div>
