<div>

    <h2>To do:</h2>

    <hr />
    <h4>Mapping:</h4>
    <p>- Add lat/long co-ordinates to Add Observation page</p>
    <p>- Get place name from lat/long co-ordinates?</p>

    <hr />
    <h4>Images:</h4>
    <p>- Retrieve and display an image from database</p>
    @*<p>- Get place name from lat/long co-ordinates?</p>*@

    @*<hr />
    <h4>Mapping:</h4>
    <p>- Add lat/long co-ordinates to Add Observation page</p>
    <p>- Get place name from lat/long co-ordinates?</p>*@

</div>
