<div>
    <h2>To do:</h2>

    <br />
    <h4>Keep a record of your bird sightings with Birder:</h4>
    <ul>
        <li>Organise your observations into categories with tags <i>(coming up soon)</i></li>
        <li>Upload photographs of the birds you spotted <i>(coming up soon)</i></li>
    </ul>

    <br />
    <h4>Build a network of like-minded bird lovers:</h4>
    <ul>
        <li>View and comment on observations from users you follow <i>(coming up soon)</i></li>
    </ul>

    <br />
    <h4>Log your observations in the field:</h4>
    <ul>
        <li>With the Android and IOS apps <i>(coming up soon)</i></li>
    </ul>

    <br />
    <h4>Images:</h4>
    <p>- Retrieve and display an image from database</p>

    <br />
    <h4>Extend the user profile:</h4>
    <p>- My Profile page</p>
    <p>- User profile picture</p>

</div>
