
@{
    ViewData["Title"] = "Confirm Your Email";
    Layout = "~/Views/Shared/_LayoutNoSidebar.cshtml";
}

<div class="jumbotron">
    <h1>Hello, thank you for joining Birder!</h1>
    <p>
        To complete your registration we need you to confirm we have the right email address.    
        Please follow the link in the email we've sent to the address you have provided.
    </p>
</div>

