@model ObservationsAnalysisDto

@{
    var observationStatus = Model.TotalObservations > 1 ? "observations" : "observation";

    if (Model.TotalObservations > 0)
    {
        <div class="class--aside-block-body">
            <h2><small>You have spotted </small>@Model.TotalSpecies<small> bird species in</small> @Model.TotalObservations <small> @observationStatus</small></h2>
        </div>
    }
    else
    {
        <div class="class--aside-block-body">
            <h2><small>You have not made any observations yet</small></h2>
        </div>
    }
}


