@model Birder2.ViewModels.BirdCountViewModel

@*<div class="class--aside-block-header">
    <h4><b>Unique Birds</b></h4>
</div>*@

<div class="class--aside-block-body">
    <h2><small>You have spotted </small>@Model.TotalSpecies<small> unique species in</small> @Model.TotalObservations <small> observations</small></h2>
</div>


