@model Birder2.ViewModels.CreateObservationViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@using Newtonsoft.Json
@{
    string data = JsonConvert.SerializeObject(Model);
}
@section scripts{
    <script src="~/js/knockout-3.4.2.js"></script>
    <script src="~/js/knockout.mapping-latest.js"></script>
    <script src="~/js/jqueryvalidate.js"></script>
    <script src="~/js/jquery-validate.bootstrap-tooltip.js"></script>
    <script src="~/js/createobservationviewmodel.js"></script>

    <script type="text/javascript">
        var createObservationViewModel = new CreateObservationViewModel(@Html.Raw(data));
        ko.applyBindings(createObservationViewModel);
        //createObservationViewModel.Observation.ObservationDateTime(new Date(Date.now()));
    </script>
}

<h2>Create an observation</h2>

<p id="MessageToClient" data-bind="text: MessageToClient"></p>

<form id="form">

    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-8">
            <button class="btn btn-link" type="button" onclick="expand()" style="float: right;">Expand All</button>
            <button class="btn btn-link" type="button" onclick="collapse()" style="float: right;">Collapse All</button>
        </div>
    </div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1"><b>Add bird species</b></a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th class="text-right col-sm-2">Quantity</th>
                            <th class="text-center">Bird species</th>
                            <th div class="text-right">
                                <button class="btn btn-info btn-xs" data-bind="click: addObservedSpecies">Add</button>
                                <button class="btn btn-info btn-xs" data-bind="click: removeObservedSpecies">Remove</button>
                            </th>
                        </tr>
                        <tbody data-bind="foreach: ObservedSpecies">
                            <tr>
                                <td class="form-group col-sm-3"><input name="Quantity" class="form-control input-sm text-right" data-bind="attr: {'Id': 'Quantity_' + $index()}, value: Quantity" /></td>
                                <td colspan="2" class="form-group">
                                    @Html.DropDownListFor(m => m.Observation.BirdId,
                                            new SelectList(Model.Birds, "BirdId", "EnglishName"),
                                                new
                                                {
                                                    @name = "BirdId",
                                                    @class = "form-control selectpicker show-tick",
                                                    data_bind = "attr: {'Id': 'BirdId_' + $index()}, selectPicker: {}, value: BirdId",
                                                    title = "Choose a bird species...",
                                                    data_live_search = "true",
                                                    data_show_subtext = "true"
                                                })
                                </td>
                                @*<td class="form-group"></td>*@
                            </tr>
                        </tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td class="form-group"><span class="form-control text-right">Total species:</span></td>
                            <td class="form-group"><span name="Total" class="form-control text-left" data-bind="text: Total"></span></td>
                            @*<td>&nbsp;</td>*@
                        </tr>
                    </table>
                    <div class="form-group">
                        <label class="control-label" for="Observation.ObservationDateTime">Date:</label>
                        <div class='input-group date' data-bind="dateTimePicker: Observation.ObservationDateTime">
                            <input type='text' class="form-control" readonly />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @*<input class="form-control" type="text" data-bind="dateTimePicker: Observation.ObservationDateTime" readonly />
                            <div>Viewmodel date as text: <span data-bind="text: Observation.ObservationDateTime"></span></div>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse2"><b>Add observation notes</b></a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label" for="Observation.NoteGeneral">General notes:</label>
                        <input class="form-control" name="Observation.NoteGeneral" data-bind="value: Observation.NoteGeneral" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="Observation.NoteHabitat">Habitat notes:</label>
                        <input class="form-control" name="Observation.NoteHabitat" data-bind="value: Observation.NoteHabitat" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="Observation.NoteWeather">Weather notes:</label>
                        <input class="form-control" name="Observation.NoteWeather" data-bind="value: Observation.NoteWeather" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="Observation.NoteAppearance">Bird appearance notes:</label>
                        <input class="form-control" name="Observation.NoteAppearance" data-bind="value: Observation.NoteAppearance" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="Observation.NoteBehaviour">Bird behaviour notes:</label>
                        <input class="form-control" name="Observation.NoteBehaviour" data-bind="value: Observation.NoteBehaviour" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="Observation.NoteVocalisation">Bird vocalisation notes:</label>
                        <input class="form-control" name="Observation.NoteVocalisation" data-bind="value: Observation.NoteVocalisation" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse3"><b>Set observation location</b></a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group">
                        <p>Click the map to move the marker.  Or use the search box. 'Use current location' is in dev...</p>

                    </div>

                    <div class="row" id="floating-panel">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input class="form-control" placeholder="Type a placename or postcode" id="address" type="text" value="">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="submit">Search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <label class="control-label"></label>
                    <input class="form-control" id="set" disabled />
                    <div id="map" class="class--map"></div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse4"><b>Add tags</b> <i>(coming up soon)</i></a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        This functionality is in development.  It will enable you to organise your observations into groups of related observations with tags.  For example, group your
                        holiday observations with a 'ScottishHighlandsTrip2018' tag or a bird category like 'BirdsOfPrey' tag or a nature reserve.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse5"><b>Add photo(s)</b> <i>(coming up soon)</i></a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        This functionality will enable you to upload your bird photos.  This functionality will in place by early June.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="container col-lg-12">
        <p><button class="btn btn-primary btn-block" type="submit" data-bind="disable:disableSubmitButton">Post Observation</button></p>
    </div>
</form>

<script src="~/js/accordionHandler.js"></script>

<script>
    var markers = [];

    function initMap() {
        var myLatlng = new google.maps.LatLng(@UserManager.GetUserAsync(User).Result.DefaultLocationLatitude,@UserManager.GetUserAsync(User).Result.DefaultLocationLongitude);
        var myOptions = {
            zoom: 13,
            center: myLatlng,
        }

        var map = new google.maps.Map(document.getElementById("map"), myOptions);
        var geocoder = new google.maps.Geocoder();

        //google.maps.event.addListenerOnce(map, 'idle', addMarker(myLatlng));
        google.maps.event.addListenerOnce(map, 'idle', function (event) {
            geocoder.geocode({
                'latLng': myLatlng
            }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        //alert(results[0].formatted_address);
                        document.getElementById('set').value = results[0].formatted_address
                        addMarker(results[0].geometry.location);
                    }
                }
            });
        });

        document.getElementById('submit').addEventListener('click', function (event) {
            var address = document.getElementById('address').value;
            geocoder.geocode({
                'address': address
            }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        //alert(results[0].formatted_address);
                        document.getElementById('set').value = results[0].formatted_address
                        addMarker(results[0].geometry.location);
                    }
                }
            });
        });

        google.maps.event.addListener(map, 'click', function (event) {
            geocoder.geocode({
                'latLng': event.latLng
            }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        //alert(results[0].formatted_address);
                        document.getElementById('set').value = results[0].formatted_address
                        addMarker(event.latLng);
                    }
                }
            });
        });

        function addMarker(location) {
            var marker = new google.maps.Marker({
                position: location,
                map: map,
            });

            map.panTo(location);
            deleteMarkers();
            markers.push(marker);
            updateForm();
        }

        // Sets the map on all markers in the array.
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        // Removes the markers from the map, but keeps them in the array.
        function clearMarkers() {
            setMapOnAll(null);
        }

        // Shows any markers currently in the array.
        function showMarkers() {
            setMapOnAll(map);
        }

        // Deletes all markers in the array by removing references to them.
        function deleteMarkers() {
            clearMarkers();
            markers = [];
        }
        function updateForm() {
            createObservationViewModel.Observation.LocationLatitude(markers[0].position.lat());
            createObservationViewModel.Observation.LocationLongitude(markers[0].position.lng());
        }
    }
</script>