@model Birder2.ViewModels.CreateObservationViewModel
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Add Observation";
    string data = JsonConvert.SerializeObject(Model);
}

<h2>Create an observation</h2>

<p id="MessageToClient" data-bind="text: MessageToClient"></p>

<form id="form">

    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-8">
            <button class="btn btn-link" type="button" onclick="expand()" style="float: right;">Expand All</button>
            <button class="btn btn-link" type="button" onclick="collapse()" style="float: right;">Collapse All</button>
        </div>
    </div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1"><b>Add bird species</b></a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th class="text-right col-sm-2">Individuals</th>
                            <th class="text-center">Bird species</th>
                            <th div class="text-right">
                                <button class="btn btn-info btn-xs" data-bind="click: addObservedSpecies">Add</button>
                                <button class="btn btn-info btn-xs" data-bind="click: removeObservedSpecies">Remove</button>
                            </th>
                        </tr>
                        <tbody data-bind="foreach: ObservedSpecies">
                            <tr>
                                <td class="form-group col-sm-3"><input name="Quantity" class="form-control input-sm text-right" data-bind="attr: {'Id': 'Quantity_' + $index()}, value: Quantity" /></td>
                                <td colspan="2" class="form-group">
                                    @Html.DropDownListFor(m => m.Observation.BirdId,
                                            new SelectList(Model.Birds, "BirdId", "EnglishName"),
                                                new
                                                {
                                                    @name = "BirdId",
                                                    @class = "form-control selectpicker show-tick",
                                                    data_bind = "attr: {'Id': 'BirdId_' + $index()}, selectPicker: {}, value: BirdId",
                                                    title = "Choose a bird species...",
                                                    data_live_search = "true",
                                                    data_show_subtext = "true"
                                                })
                                </td>
                            </tr>
                        </tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td class="form-group"><span class="form-control text-right">Total species:</span></td>
                            <td class="form-group"><span name="Total" class="form-control text-left" data-bind="text: Total"></span></td>
                        </tr>
                    </table>
                    <div class="form-group">
                        <label class="control-label" for="Observation.ObservationDateTime">Date:</label>
                        <div class='input-group date' data-bind="dateTimePicker: Observation.ObservationDateTime">
                            <input type='text' class="form-control" readonly />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse2"><b>Add observation notes</b></a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <label asp-for="Observation.NoteGeneral"></label>
                    <input asp-for="Observation.NoteGeneral" class="form-control" data-bind="text: Observation.NoteGeneral" />
                    <br />
                    <label asp-for="Observation.NoteHabitat"></label>
                    <input asp-for="Observation.NoteHabitat" class="form-control" data-bind="text: Observation.NoteHabitat" />
                    <br />
                    <label asp-for="Observation.NoteWeather"></label>
                    <input asp-for="Observation.NoteWeather" class="form-control" data-bind="text: Observation.NoteWeather" />
                    <br />
                    <label asp-for="Observation.NoteAppearance"></label>
                    <input asp-for="Observation.NoteAppearance" class="form-control" data-bind="text: Observation.NoteAppearance" />
                    <br />
                    <label asp-for="Observation.NoteVocalisation"></label>
                    <input asp-for="Observation.NoteVocalisation" class="form-control" data-bind="text: Observation.NoteVocalisation" />
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse3"><b>Set observation location</b></a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group">
                        <p>Click the map to move the marker.  Or use the search box. 'Use current location' is in dev...</p>
                    </div>
                    <div class="row" id="floating-panel">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input class="form-control" placeholder="Type a placename or postcode" id="address" type="text" value="">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="submit">Search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <label class="control-label"></label>
                    <input class="form-control" id="set" disabled />
                    <div id="map" class="class--map"></div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse4"><b>Add tags</b> <i>(coming up soon)</i></a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        This functionality is in development.  It will enable you to organise your observations into groups of related observations with tags.  For example, group your
                        holiday observations with a 'ScottishHighlandsTrip2018' tag or a bird category like 'BirdsOfPrey' tag or a nature reserve.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container col-lg-12">
        <p><button class="btn btn-primary btn-block" type="submit" data-bind="disable:disableSubmitButton">Post Observation</button></p>
    </div>
</form>

@section scripts{
    <script src="~/js/jqueryvalidate.js"></script>
    <script src="~/js/jquery-validate.bootstrap-tooltip.js"></script>
    <script src="~/js/createObservationViewModel.js"></script>
    <script src="~/js/accordionHandler.js"></script>
    <script type="text/javascript">
        var createObservationViewModel = new CreateObservationViewModel(@Html.Raw(data));
        ko.applyBindings(createObservationViewModel);
    </script>
}