@model DeleteObservationDto

@{
    ViewData["Title"] = "Delete Observation";

    var singularOrPlural = Model.Quantity > 1 ? "individuals" : "individual";
    <h1>@Model.ObservedBird.EnglishName <small><i>@Model.ObservedBird.Species</i></small></h1>
    <h4>You spotted <b>@Model.Quantity</b> @singularOrPlural on @Model.ObservationDateTime.ToString("dddd, dd MMMM yyyy HH:mm")</h4>
}

<hr />
<h3>Are you sure you want to delete your observation?</h3>

@{
    if (Model.HasPhotos == true)
    {
        <h5>Your uploaded photographs will also be removed if you choose to delete your observation.</h5>
    }
}

<div>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="ObservationId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index" class="btn btn-link">Back to your observation details</a> |
        <a asp-action="Index" class="btn btn-link">Back to observations feed</a>
    </form>
</div>
