@using Newtonsoft.Json
@model ManageImagesDto

<div class="box header">
    <h1><span class="fa fa-user-circle-o"></span> <span id="page-title">Add or remove photographs to your observation</span></h1>
</div>

<div class="box content">
    <hr>
    <h2>Upload photos</h2>
    <div>
        <form action="/api/images/upload"
              class="dropzone needsclick dz-clickable"
              id="image-upload"
              method="post"
              enctype="multipart/form-data">
            <div class="dz-message needsclick">
                <span class="note needsclick">
                    Drop photographs here or click to upload.
                </span>
            </div>
            <div>
                <input asp-for="ObservationId" class="form-control" data-bind="text: ObservationId" type="hidden" />
            </div>
        </form>
    </div>

    <h2>Generated Thumbnails</h2>
    <!-- <p><span id="gallery-note">Gallery refreshes from storage container image links every 5 seconds.</span></p> -->
    <div id="stored-images"></div>
    <!-- The Gallery as inline carousel, can be positioned anywhere on the page -->
    <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
</div>

@{
    ViewData["Title"] = "Images";
    Layout = "~/Views/Shared/_LayoutNoSidebar.cshtml";
    string data = JsonConvert.SerializeObject(Model);
}

@section Scripts {
    <script src="~/js/jqueryvalidate.js"></script>
    <script src="~/js/jquery-validate.bootstrap-tooltip.js"></script>
    <script src="~/js/imagesViewModel.js"></script>
    <script src="~/js/dropzoneConfiguration.js"></script>
    <script type="text/javascript">
        var imagesViewModel = new ImagesViewModel(@Html.Raw(data));
        ko.applyBindings(imagesViewModel);
        document.onload = fetchImageLinks(imagesViewModel.ObservationId());
    </script>
}