@model IEnumerable<Birder2.Models.Observation>


@{
    ViewData["Title"] = "My Observations";
}

<h2>Index</h2>

<div>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
</div>

@foreach (var observation in Model)
{
    @Html.Partial("_Observations", observation)
}
