@model ObservationsIndexViewModel
@*@model PagedResult<ObservationsIndexViewModel>*@

@{
    ViewData["Title"] = "My Observations";
}

<h2>Observations [sightings] feed:</h2>

<div>
        <a asp-action="Create">Add Observation</a>
        @{
            if (Model.ShowUserObservationsOnly == true)
            {
                <a asp-action="Index" asp-route-showUserObservationsOnly="false" class="btn btn-link">View Observations From Your Network</a>
            }
            else
            {
                <a asp-action="Index" asp-route-showUserObservationsOnly="true" class="btn btn-link">View Only Your Observations</a>
            } }
    </div>

<br />

@foreach (var observation in Model.Observations.Results)
{
    <div class="container">
        @Html.Partial("_Observations", observation)
        @*<hr />*@
    </div>
}

<br />

@(await Component.InvokeAsync<PagerViewComponent>(Model.Observations))
