@model ObservationsIndexViewModel
@using Birder2.ViewModels

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Your Observations Feed</h3>
    </div>
    <div class="panel-body">

        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-6">
                    <a asp-action="Create" class="btn btn-default btn-success">Add Observation</a>
                </div>
                <div class="col-sm-6">
                    <select asp-for="Filter" asp-items="Html.GetEnumSelectList<ObservationsFeedFilter>()" class="form-control" onchange="this.form.submit()"></select>
                </div>
            </div>
        </form>

        @{ if (Model.IsEmptyList == true && Model.Observations.CurrentPage == 1)
            {

            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Welcome to Birder!</h4>
                <p><b>This is your observations feed.</b>  Your observations, and those from your network of <i>Birders</i>, will be shown here.  <b>While this feed is empty, we'll show the latest public observations here...</b></p>
            </div>

            }
        }

    </div>
</div>

@{
    ViewData["Title"] = "My Observations";


    @foreach (var observation in Model.Observations.Results)
    {
        <div class="container">
            @Html.Partial("_Observations", observation)
            @*<hr />*@
        </div>
    }
    }
    <br />

    @(await Component.InvokeAsync<PagerViewComponent>(Model.Observations))


