@model IEnumerable<Birder2.Models.Observation>


@{
    ViewData["Title"] = "My Observations";
}

<h2>Sightings</h2>

<div>
    <p>
        <a asp-action="Create">Create Single Species Observation</a>
        <a asp-action="Create">Create Multiple Species Observation</a>
    </p>
</div>

@foreach (var observation in Model)
{
<div class="container">
    @Html.Partial("_Observations", observation)
    <hr/>
</div>
}
