<div class="footer--partial-view">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 text-left">
            <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
            <script type='text/javascript'>kofiwidget2.init('Do you like the website? Buy Me a Coffee', '#46b798', 'I2I68YUB'); kofiwidget2.draw();</script>
            <a asp-controller="Home" asp-action="About">About </a>
            <a asp-controller="Home" asp-action="Contact">Contact </a>
            @*<a asp-controller="Account" asp-action="Register">Privacy </a>*@
        </div>
    </div>
</div>

