
<div class="footer--partial-view">

    @*<a asp-controller="Home" asp-action="About">About</a>
    <a asp-controller="Home" asp-action="Contact">Contact</a>
    <a asp-controller="Account" asp-action="Register">Privacy</a>*@
    @*<a href="/Account/Register">Register</a>*@
    <p>&copy; 2018 - Birder2</p>

</div>