@using Microsoft.AspNetCore.Identity
@using Birder2.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<ul class="nav navbar-nav">
    <li><a asp-area="" asp-controller="Networks" asp-action="Index">Network</a></li>
    @*<li><a asp-area="" asp-controller="SalesOrders" asp-action="Index">Sales</a></li>*@
    @*<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>*@
    <li><a asp-area="" asp-controller="Observation" asp-action="Index">Observations</a></li>
    <li><a asp-area="" asp-controller="Bird" asp-action="Index">British Birds</a></li>

    @*<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Achievements<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Life List</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Year List</a></li>
                <li role="separator" class="divider"></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-searchType="MyBirds">My Badges</a></li>
            </ul>
        </li>*@
    <li><a asp-area="" asp-controller="Observation" asp-action="ListLife">Life List</a></li>
</ul>
}
else
{
    <ul class="nav navbar-nav"></ul>
}


