

<div class="container--TweetDay">
    <div class="container">
        <h3>Tweet of the Day</h3>
        <audio controls>
            <source src="horse.ogg" type="audio/ogg">
            <source src="http://xeno-canto.org/sounds/uploaded/ZNCDXTUOFL/XC122468-Parus_caeruleus_Poland_Jarek_Matusiak_20130223-014.mp3" type="audio/mpeg">
            @*<source src="http://prueba.agenciareforma.com/webs/elnorte/blackberry/mp3/uno.mp3" type="audio/mpeg">*@
            Your browser does not support the audio element.
        </audio>
    </div>
</div>
