@{
    ViewData["Title"] = "Confirm email";
    Layout = "~/Views/Shared/_LayoutNoSidebar.cshtml";
}

<div class="jumbotron">
    <h1>Thank you for confirming your email</h1>
    <p>
        You are now ready to go.
    </p>
    <p><a class="btn btn-primary btn-lg" asp-controller="Account" asp-action="Login" role="button">Login</a></p>
</div>
